<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>4NSFJXF4H3AV5EHSYMJGULFTHLDUK12UTOU1J2OFE5XQWP54</string>
	<key>clientSecret</key>
	<string>5HJVYNPV2GPXNVWLRIB5L2TTGFFXFAZD0FTOPYPEI05CEIDN</string>
</dict>
</plist>
